<h2>Kayıt Ol</h2>

<button (click)="goBack()">Geri</button>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <!-- register.component.html -->
  <label for="fullName">Kullanıcı Adı:</label>
  <input id="fullName" type="text" formControlName="fullName" />

  <label>Email:</label>
  <input type="email" formControlName="email" /><br /><br />

  <label>Şifre:</label>
  <input type="password" formControlName="password" /><br /><br />

  <!-- register.component.html :contentReference[oaicite:0]{index=0}&#8203;:contentReference[oaicite:1]{index=1} -->
<label>Rol:</label>
  <select formControlName="role">
    <option value="ROLE_USER">Kullanıcı</option>
    <option value="ROLE_SELLER">Satıcı</option>
    <option value="ROLE_ADMIN">Yönetici</option>
  </select>
<br /><br />

  <button type="submit" [disabled]="registerForm.invalid">Kayıt Ol</button>
</form>
