<div>
  <button (click)="goToCart()">Cart</button>
</div>
<div style="position: fixed; top: 20px; right: 20px;">
  <button (click)="manageStore()">Manage Store</button>
  <button *ngIf="!isLoggedIn()" (click)="goToLogin()" class="login-button">Giriş Yap </button>
  <button *ngIf="isLoggedIn()"(click)="logout()">🚪 Çıkış Yap</button>
</div>

<input type="text"  (keyup)="showSearchResults()" [(ngModel)]="searchTerm" placeholder="Search products"/>

<div style="border: 1px solid black; display: flex; width: 100%;height: fit-content;flex-wrap: wrap;">
  <div *ngFor="let product of showSearchResults()" class="product-card"
   style="border: 1px solid black; width: 150px; height: 150px; margin: 15px;">
    <img [src]="product.imageUrl" alt="{{ product.name }}" />
    <h3>{{ product.name }}</h3>
    <p>Price: {{ product.price }}</p>
    <button (click)="viewDetail(product.id!)">View Detail</button>
  </div>
</div>

<button (click)="addProduct()">addProduct</button>

