<div
  *ngIf="alertMessage"
  style="
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
  "
>
  {{ alertMessage }}
</div>

<div class="product-grid">
  <div *ngFor="let product of showSearchResults()" class="product-card">
    <div class="image-wrapper">
      <img [src]="product.imageUrl" alt="{{ product.name }}" />
      <div *ngIf="product.stock === 0" class="sold-out">Tükendi</div>
    </div>

    <button *ngIf="isLoggedIn() && authService.getUserRole() === 'ROLE_USER'"class="favorite-btn"(click)="toggleFavorite(product.id!)">
      <span *ngIf="isFavorite(product.id!)">💔 Favoriden Çıkar</span>
      <span *ngIf="!isFavorite(product.id!)">❤️ Favoriye Ekle</span>
    </button>


    <h3>{{ product.name }}</h3>
    <p>Fiyat: {{ product.price }}₺</p>
    <button (click)="viewDetails(product.id)">View Detail</button>
    <button
      *ngIf="isLoggedIn() && authService.getUserRole() === 'ROLE_USER'"
      [disabled]="product.stock === 0"
      (click)="addToCart(product.id!)">Sepete Ekle </button>
  </div>
  </div>

