<h2>Admin Paneli</h2>
<nav>
  <button (click)="logout()">🚪 Çıkış Yap</button>
  <button routerLink="/admin/products">Ürünleri Yönet</button>
  <button routerLink="/admin/orders">Siparişleri Yönet</button>
  <button routerLink="/admin/users">Kullanıcıları Yönet</button>
  <button routerLink="/admin/reviews">Yorumları Yönet</button>


</nav>
<br>


<h1>Admin-Dashboard</h1>

<div class="stats">
  <div class="card">Toplam Kullanıcı: {{ totalUsers }}</div>
  <div class="card">Toplam Ürün: {{ totalProducts }}</div>
  <div class="card">Toplam Sipariş: {{ totalOrders }}</div>
</div>
<br><br><br><br>

<app-dashboard-chart></app-dashboard-chart>


<router-outlet></router-outlet>
