<button routerLink="/admin">⬅️ Admin Paneline Dön</button>
<h2>Kullanıcı Yönetimi</h2>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ad</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Rolü Değiştir</th>
      <th>İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>

      <td>
        <select
          [value]="getSimpleRole(user.role)"
          (change)="changeUserRole(user.id || 0, getSelectValue($event))"
        >
          <option value="USER">Kullanıcı</option>
          <option value="SELLER">Satıcı</option>
          <option value="ADMIN">Yönetici</option>
        </select>
      </td>

      <td>
        <button (click)="deleteUser(user.id!)">Sil</button>
        <button *ngIf="!user.banned" (click)="banUser(user.id!)">Banla</button>
        <button *ngIf="user.banned" (click)="unbanUser(user.id!)">
          Banı Kaldır
        </button>
      </td>
    </tr>
  </tbody>
</table>
