.product-review-box {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #fafafa;
}

.stars span {
  font-size: 20px;
  color: #ccc;

  &.filled {
    color: #ffc107;
  }
}

.review {
  margin-top: 8px;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
