<button routerLink="/admin">⬅️ Admin Paneline Dön</button>

<h2>Sipariş Yönetimi</h2>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Kullanıcı ID</th>
      <th>Satın Alma Tarihi</th>
      <th>Durum</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.id }}</td>
      <td>{{ order.userId }}</td>
      <td>{{ order.purchaseDate | date: 'medium' }}</td>
      <td>{{ order.status }}</td>

    </tr>
  </tbody>
</table>

