<button (click)="goBack()">Shopping List</button>
<div *ngIf="product">
  <img [src]="product.imageUrl" />
  <h2>{{ product.name }}</h2>
  <p>{{ product.category }}</p>
  <p>{{ product.description }}</p>
  <p><s *ngIf="product.discountPercentage > 0">{{ product.price | currency }}</s> Discount: %{{product.discountPercentage}} </p>
  <p *ngIf="product.discountPercentage > 0">{{ getDiscountedPrice() | currency }}</p>
  <p *ngIf="product.stock > 0">In Stock: {{ product.stock }}</p>
  <p *ngIf="product.stock === 0">Out of Stock</p>
  <button (click)="addToCart()">Add to Cart</button>
  <p>Number of product in cart: {{ productQuantityInCart }}</p>

</div>

<button (click)="goToCart()">Go To Cart</button>
