      <button (click)="goToHome()" class="link-btn">Ana Sayfa</button>


<div class="auth-container">
  <div class="form-panel">
    <h2>Giriş Yap</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-box">
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
        />
      </div>

      <div class="input-box">
        <input
          type="password"
          formControlName="password"
          placeholder="Şifre"
        />
      </div>

      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="btn"
      >
        Giriş Yap
      </button>
    </form>
<br>
    <div class="links">
      <a routerLink="/auth/forgot-password" class="link">Şifremi Unuttum</a> <br>
      <a routerLink="/auth/register" class="link">Hesabınız yok mu? Kayıt Ol</a>
    </div>
  </div>
</div>
